.home-page {
  height: 80vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.about-page {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.not-found {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.warning {
  font-size: 60px;
  font-weight: 300;
  margin: 10px;
}

.message {
  font-weight: 100;
}