.title-top {
  font-size: 30px;
  width: 100%;
  font-weight: 200;
}

.title-center {
  font-size: 80px;
  font-weight: 500;
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.home-container {
    width: 100%;
    flex: 1 0 auto;
}

@media (max-width: 600px) {
  [class*=".home-container"] {
    max-width: 80%;
  }
}

@media (max-width: 700px) {
  [class*=".text-center"]{
    font-size: 1.6rem;
  } 
}